body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #E7E9FC;
}

.header-container {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    color:  #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}
.logo-part{
    color: #2E2F42;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
}
.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}
.address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-link {
    color: #434455;
    font-size: 16px;;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
    color:#404BBF;
}

.hero {
    background: #2E2F42;
}
.hero-title {
    color: #FFF;
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07; /* 107.143% */
letter-spacing: 0.02em;
}

.hero-button {
background:#4D5AE5;
cursor: pointer;
color:#ffffff;
letter-spacing: 0.04em;
line-height: 1.5;
font-weight: 500;
}
.hero-button:hover,
.hero-button:focus{
   background-color:#404BBF;
}
.description-section {
    background: #fff;
}

.description-list {
    color:  #434455;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
}

.description-title{
    color:#2E2F42;
}

.team-section {
    background: #f4f4fd;
}
.team-title{
    color: #2E2F42;
text-align: center;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
font-weight: 500;
}

.team-part {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.team-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-projects {
    color:  #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.portfolio-projects-item {
    color:  #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
}

.portfolio {
    color:  #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.footer {
    background: #2E2F42;
}

.footer-item {
    color:#f4f4fd;
    font-size: 16px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
}

.text-btn {
    color: #FFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
}

.description-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-list {
    background-color: #ffffff;
}

.logo-footer{
    color: #f4f4fd;
}

.paragraph {
    
}